<div class="container-fluid bg-dark m-0" style="height:100vh">
    <div class="container">
        <a href="/admin/empleados/create" class="btn btn-info mt-4">Agregar Producto</a>
        <div class="row mt-5">
            <div class="col-12">
                <table class="table  text-light">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">apellido</th>
                            <th scope="col">telefono</th>
                            <th scope="col">direccion</th>
                            <th scope="col">Imagen</th>
                            <th>-</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each empleados}}
                        <tr>
                            <td scope="col">{{id}}</td>
                            <td scope="col">{{nombre}}</td>
                            <td scope="col">{{apellido}}</td>
                            <td scope="col">{{telefono}}</td>
                            <td scope="col">{{direccion}}</td>
                            <td scope="col">
                                <img style="height: 50px;" src="/images/{{uid}}" alt="No hay imagen"></td>
                            <td><a href="admin/empleados/update/{{id}}" class="btn btn-info">Editar</a></td>
                            <td><a href="admin/empleados/delete/{{id}}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>