<div class="container">
    <div class="row">
        <div class="col-12 justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-title">Categoria: {{producto.nombreCategoria}}</p>
                    <p class="card-title">Precio: {{producto.precio}}</p>
                    <p class="card-title">Stock:{{producto.stock}}</p>
                    <a href="/productos" class="btn btn-primary">Volver atras</a>
                </div>
            </div>
        </div>
    </div>
</div>